<div class = "nav-bar">
    <div class="logo">
        <a href=""  id = "home" routerLinkActive = "active" router routerLink="/home"><p>ex-wave</p></a>
    </div>
    <div class="links">
        <a href="" id = "home" routerLinkActive = "active" routerLink="/home">home</a>
        <a href="" id = "gallery" routerLinkActive = "active" router routerLink="/gallery">gallery</a>
        <div class="dropdown">
            <a href="" id = "themes" routerLinkActive = "active" router routerLink="/themes">themes</a>
        </div>
        <a href="" id = "login" routerLinkActive = "active" router routerLink="/login">login</a>
    </div>
</div>